---
###
# put vars here that apply to both production and development
###

# everthing will be installed under this directory
install_dir: /home/{{ username }}/otindex

# other paths
peyotl_config_location: "{{ install_dir }}/.peyotl"
otindex_logfile_dir: "{{ install_dir}}/otindex/logs"
