---
###
# put vars here that apply to both production and development
###

# everthing will be installed under this directory
install_dir: /home/opentree/repo

# other paths
peyotl_config_location: "/home/opentree/.peyotl" #I haven't figured out how to make it read the peyotl config from other locations
otindex_logfile_dir: "{{ install_dir}}/otindex/logs"
