---
# copy this to production.yml and then edit for your setup

# server username
username:
pem_file:

# database connection details
db_password:
db_username: postgres
db_name: otindex

## Needed for peyotl config
api_domain: api.opentreeoflife.org/

phylesystem_parent: "{{ install_dir }}/phylesystem-1_par"
phylesystem_location: "{{ phylesystem_parent }}/phylesystem-1"


# if this is true, then must set database_dump_filename
# if false, then must set phylesystem_repo and ott_url
database_dump: false

# set these if database_dump is false
# loads database on server; requires >4GB memory
phylesystem_repo: https://github.com/OpenTreeOfLife/phylesystem-0.git
ott_url: http://files.opentreeoflife.org/ott/ott2.10/ott2.10draft11.tgz

# set if database_dump is true
# uploads local database dump; use if server has limited memory
# create compressed dump using: $ pg_dump -a db_name | gzip > filename.gz
database_dump_filename: /Users/karen/Documents/opentreeoflife/software/otindex/otindex/scripts/otindex.dmp.gz

# the name of the configuration file for pyramid
config_filename: production.ini

# debug level
logger_otindex_level: INFO
