---
# copy this to production.yml and then edit for your setup

# server username
username:
pem_file:

# database connection details
db_password:
db_username: postgres
db_name: otindex

# the location of the phylesystem repo
phylesystem_repo: https://github.com/OpenTreeOfLife/phylesystem-1.git

# Set ott_url to download OTT from opentree website and use to import database
# Note that this takes >4GB memory, so if server has less, use taxonomy_files
#  var instead
#ott_url: http://files.opentreeoflife.org/ott/ott2.10/ott2.10draft11.tgz

# Set this to copy generated taxonomy files from local machine rather than
#  generate on server (if <8GB memory on server)
# Note that all .csv files in this dir gets copied to server
# Make sure '/' on end so that copies contents, not directory
taxonomy_files: <path to local files>

# the name of the configuration file for pyramid
config_filename: production.ini

# debug level
logger_otindex_level: INFO
