---
# tasks for downloading data and loading into database

- name: Create shards directory
  file: path={{install_dir}}/phylesystem/shards state=directory

- name: Clone phylesystem repo
  git: repo={{phylesystem_repo}} dest={{install_dir}}/phylesystem/shards/phylesystem

#load phylesystem data in to database
#'creates' directive ensures idempotency
- name: Load phylesystem data
  command: creates={{ install_dir}}/otindex/.phylesystem $VENV/bin/python otindex/scripts/load_nexson.py {{config_filename}}
  environment:
    VENV: "{{ install_dir }}/venv"
  args:
    chdir: "{{ install_dir }}/otindex"

- name: Download and extract ott
  unarchive: src={{ott_url}} dest={{install_dir}} remote_src=yes
  when: ott_url is defined


- name: clear existing tables
  command:   $VENV/bin/python otindex/scripts/setup_db.py {{config_filename}}
  environment:
    VENV: "{{ install_dir }}/venv"
  args:
    chdir: "{{ install_dir }}/otindex"


- name: load nexson files
  command:   $VENV/bin/python otindex/scripts/load_nexson.py  {{config_filename}}
  environment:
    VENV: "{{ install_dir }}/venv"
  args:
    chdir: "{{ install_dir }}/otindex"

- name: create taxonomy files for import
  command: creates={{ install_dir}}/otindex/ott.csv
    $VENV/bin/python otindex/scripts/generate_taxonomy_files.py {{config_filename}}
  environment:
    VENV: "{{ install_dir }}/venv"
  args:
    chdir: "{{ install_dir }}/otindex"

- name: Load taxonomy files into database
  command: $VENV/bin/python otindex/scripts/load_taxonomy_files.py {{ config_filename }} {{ install_dir }}/otindex
  environment:
    VENV: "{{ install_dir }}/venv"
  args:
    chdir: "{{ install_dir }}/otindex"
