---
# apache tasks

- name: install apache modules
  become: true
  apt: name={{ item }} state=present
  with_items:
    - apache2
    - libapache2-mod-wsgi

- name: write apache ssl sites available file
  become: true
  template:
    src: templates/ssl_conf.j2
    dest: /etc/apache2/sites-available/opentree-ssl.conf

- name: write opentree_shared.conf
  become: true
  template:
    src: templates/opentree_shared_conf.j2
    dest: /etc/apache2/opentree-shared.conf

- name: enable headers
  become: true
  apache2_module: state=present name=headers
#  ignore_configcheck: True

- name: enable rewrite
  become: true
  apache2_module: state=present name=rewrite
  notify:
    - restart apache

- name: enable proxy
  become: true
  apache2_module: state=present name=proxy
  notify:
    - restart apache

# equivalent of 'sudo a2enmod ssl'
- name: enable ssl
  become: true
  apache2_module: state=present name=ssl
  notify:
    - restart apache

# equivalent of 'sudo a2enmod wsgi'
- name: enble wsgi
  become: true
  apache2_module: state=present name=wsgi

- name: write pyramid.wsgi config file
  template:
    src: templates/pyramid_wsgi.j2
    dest: "{{ install_dir }}/../venv/pyramid.wsgi"
  become: true

- name: write apache config file
  become: true
  template:
    src: templates/apache_conf.j2
    dest: /etc/apache2/conf-available/servername.conf

- name: enable apache conf file
  become: true
  command: a2enconf servername
  notify:
    - restart apache

# check for certs and keys
#- name: check certificates and keys
#  become: true
#  file:
#    state:  file
#    path:   '{{ item.path }}'
#    owner:  '{{ item.owner }}'
#    group:  '{{ item.group }}'
#    mode:   '{{ item.mode }}'
#  with_items:
#    - path:   /etc/apache2/sites-available/opentree-ssl.conf
#      owner:  '{{ username }}'
#      group:  '{{ username }}'
#      mode:   '0644'
#    - path:   /etc/ssl/private/opentreeoflife.org.key
#      owner:  root
#     group:  ssl-cert
#      mode:   '0600'


- name: check certificate link
  become: true
  file:
    state: link
    src:    '/etc/apache2/sites-available/opentree-ssl.conf'
    dest:   '/etc/apache2/sites-enabled/001-opentree-ssl.conf'
    owner:  root
    group:  root

- name: ensure apache is running
  become: true
  service:
    name: apache2
    state: started
  