---

# Install and configure peyotl library

- name: Clone peyotl repo
  git:
    repo: https://github.com/OpenTreeOfLife/peyotl.git
    dest: "{{ install_dir }}/peyotl"
    version: "{{ peyotl_branch}}"
  become: yes
  become_user: opentree

- name: Create dir for peyotl config file
  file: path={{peyotl_config_location}} state=directory
  become: yes
  become_user: opentree
#Why does this need to be in the admin home?

- name: Create peyotl config file from template
  template: src=templates/config.j2 dest={{ peyotl_config_location }}/config
  become: yes


- name: Install peyotl python requirements
  pip:
    requirements: "{{install_dir}}/peyotl/requirements.txt"
    virtualenv: "{{install_dir}}/../venv"
  become: yes
  become_user: opentree

- name: Install peyotl
  command: $VENV/bin/python setup.py install
  environment:
    VENV: "{{install_dir}}/../venv"
  args:
    chdir: "{{install_dir}}/peyotl"
  become: yes
  become_user: opentree

- name: ensure peyotl log file exists and is writable
  copy:
    content: ""
    dest: "{{ peyotl_logging_filepath }}"
    force: no
    group: opentree
    owner: opentree
  become: true
# UGH permissions hack
