---

# Install and configure peyotl library

- name: Clone peyotl repo
  git: repo=https://github.com/OpenTreeOfLife/peyotl.git
        dest={{ install_dir }}/peyotl
        version={{ peyotl_branch}}

- name: Create dir for peyotl config file
  file: path={{peyotl_config_location}} state=directory

- name: Create peyotl config file from template
  template: src=templates/config.j2 dest={{ peyotl_config_location }}/config

- name: Install peyotl python requirements
  pip: requirements={{install_dir}}/peyotl/requirements.txt
          virtualenv={{install_dir}}/venv

- name: Install peyotl
  command: $VENV/bin/python setup.py install
  environment:
    #PEYOTL_CONFIG_FILE: "{{ peyotl_config_location }}/config"
    VENV: "{{install_dir}}/venv"
  args:
    chdir: "{{install_dir}}/peyotl"
