###
# Template for apache config file; see
# http://docs.pylonsproject.org/projects/pyramid/en/latest/tutorials/modwsgi/
###

# Use only 1 Python sub-interpreter.  Multiple sub-interpreters
# play badly with C extensions.  See
# http://stackoverflow.com/a/10558360/209039

WSGIApplicationGroup %{GLOBAL}
WSGIPassAuthorization On
WSGIDaemonProcess pyramid user={{ username }} group=staff threads=4 \
   python-path={{ install_dir}}/../venv/lib/python2.7/site-packages
WSGIScriptAlias / {{ install_dir }}/../venv/pyramid.wsgi

<Directory {{ install_dir }}/../venv>
  WSGIProcessGroup pyramid
  Require all granted
</Directory>
