# This file is for apache 2.4+. It was derived from the file
# /etc/apache2/sites-available/default in apache2 as installed in ubuntu 12.04.
#
# Now that we're supporting both HTTP and HTTPS, this file contains all the
# shared configuration for VirtualHosts in 'opentree.conf' and 'opentree-ssl.conf'. See
# http://serverfault.com/questions/83669/apache2-with-ssl-do-i-have-to-copy-virtualhost-blocks
#
# This file should be periodically reviewed as apache versions advance and
# 'best practice' for virtual host configurations changes.

    ServerAdmin webmaster@localhost

    CustomLog ${APACHE_LOG_DIR}/access.log combined

    # TEMPORARY REDIRECT to maintenance page
    #RedirectMatch 302 ^(.*)$ http://opentreeoflife.github.io/maintenance.html

    # See https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs


    # ------------------------------------------------------------
    # Public v3 API (originally cloned from v2)



    # studies-api is provided via Pyramids
    # N.B. that we should match "bare" URLs like '/v3/studies' to create a resource!
    # and that needs the prefix from wsgi
    RewriteEngine on
    RewriteRule ^/v3/studies(.*) /otindex/v3/studies$1 [PT]
    # rotl was calling with a training slash - rewrite to without.
    RewriteRule ^/otindex/v3/studies/properties/ /otindex/v3/studies/properties [PT]
    RewriteRule ^/otindex/v3/studies/find_studies/ /otindex/v3/studies/find_studies [PT]


